.appHeader {
    background-color: #392f3b;
    /*min-height: 100vh;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    font-size: calc(10px + 2vmin);
    color: white;
    grid-area: header;
}

.appHeader img {
    height: 100%;
    width: 20%;
    /*horiz-align: center;*/
    display: inline-block;
    margin-left:   50%;
}

.appHeader a {
    color: #457e86;
    float: right;
    margin: 10px 20px auto auto;
    display: block;
    text-decoration: none;
}

.appHeader a:hover {
    color: #335c62;
}