.sidebar {
    grid-area: sidebar;
}

.sidebar a {
    margin: 0 0 4px 0;
    vertical-align: auto;
    height:45px;
    min-width: 200px;
    padding: 5px 0 5px 50px;
    text-decoration: none;
    font-size: 25px;
    color: #457e86;
    display: block;
    background-color: #04ccd0;
    border-radius: 30px 30px 70px 30px;
    transition: all 0.5s;
    box-sizing: border-box;


}

.sidebar a:hover{
    /*border: 1px solid #036567;*/
    padding: 5px 0 5px 70px;
    background-color: #03c1c5;
    color: #335c62;
    box-shadow: 2px 0 10px #028486;
    transition: all 0.5s ease-out;
    box-sizing: border-box;
}

.sidebar a.active {
    color: #2a4a50;
    background-color: #03b3b7;
    border: 1px solid #04acb0;
    padding: 4px 0 5px 50px;

    box-sizing: border-box;
}
